button {
  width: 60px;
  color: black;
  font-size: 12px;
  padding: 12px 0;
  background: white;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  transition: all 0.5s;
}
button:hover {
  background-color: chocolate;
  color: white;
}
